.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.navbar {
  background-color: rgba(34, 35, 38, .6);
}

.nav-link {
	color: #ffffff;
	font-weight: bold;
}

.nav-link:hover {
    color: #1ed760;
}

.logo-spotify {
  width: 100px
}

.divider{
  height: 16px;
  width: 1px;
  margin-left: 17px;
  margin-right: 17px;
}

.section-slide{
  margin: 60px 60px;
  border: solid blue;
  position: absolute;
}
.carousel-inner{
  border: solid red;
  height: 660px;
  background-image: url("../img/fondospotify.jpg");
}

.carousel-item h1{
  color: #FFFFFF;
  font-size: 80px;
  font-weight: 500;
}
.btn-free {
  color: #FFFFFF;
  background-color: #24A245;
  font-size: 14px;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
  letter-spacing: 2px;
  font-weight: 600;
}
.btn-free:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #1ed760;
}

.btn-free:focus {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-premium {
  color: #FFFFFF;
  border: solid #FFFFFF;
  font-size: 14px;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
  letter-spacing: 2px;
}

.btn-premium:hover {
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
}

.title-section {
  font-family: inherit;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 15px;
}
.subtitle {
  font-weight: bold;
}
.album img{
  width: 277px;
  height: 277px;
}
.album img:hover {
  filter:brightness(0.4);
}
.music-albums {
  padding-top: 30px;
}
.bg-color {
  background-image: url("../img/fondospotify.jpg");
  color: white;
}

.phone {
  border: solid white;
  width: 330px;
  heigth: 670px;
  background: none;
  margin: 20px;
  border-radius: 20px;
}

.albums-section img {
  width: 110px;
  height: 110px;
  margin-right: 20px;
}
figcaption{
  font-size: 12px;
}
.footer-style {
  background-color: #000000;
}

.lista-disp {
  list-style-type: none;
  display: inline-block;
}
.lista-disp li {
  float: left;
  margin: 0 10px;
}
.lista-disp li > a{
  color: #1ed760;
  font-weight: bold;
}
.card {
  color: black;
}
.card-body li {
  list-style-type: none;
}
/*@media screen and (max-width: 600px) {
  * {
    background-color: red;
  }
}
*/
